/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset code*/
body {
    background-color: white; /* changes the background color */
    left: 0;
    width: 100%; /* whenever the "width element is used it is changing the width of the object */
    margin: auto;
}
.link_home{
    font-size: 1em; /* any time the term "font size is brought up, it is directly refering to changing the size of whatever text is being used */
}
.link_home a { /* this section edits the home button/link*/
    color: black;
    text-decoration: none;
    background-color: #C78C06;
    padding: 5px; /* every line labled "padding" adds space bellow the object and whatever is around it */
    display: block;
    width: 100%;
}
nav { /* this centers the nav section*/
    text-align: center;
}
#center {
    margin: auto;
    display: flex; /* the display flex element adds a flex box to this section of my website */
    flex-direction: column; /* changes the direction the text will go, in this case it will be virtacle */
    align-items: center; /* any line like this aligns the object being edited, in this case it would be centered */
}
.title{ /* this changes the size of the main text title*/
    font-weight: bold;
    font-size: 2em;
    padding: 2%;
} 
.title_background {
    background-color: #222;
    padding: 10px;
}
.logoBack {
    background-color: #C78C06 ;
}
.a:link, a:visited{ /* removes underline from links */
    text-decoration: none;
} 
.links { /* changes the size and color of all links except the home */
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #C78C06 ;
}
div.links > a{
    display: block;
    text-decoration: none;
    color: #C78C06 ;
    padding: 5px;
    font-size: 1em;
}
input {
    width: 80%;
  }
.main{
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-content: center;
}
.banner{
    width: 100%;
    margin: auto;
    position: relative;
    overflow-y: hidden;
}
.banner-text{ /* adds transparent background and welcoming text */
    background-color: #000000b0;
    padding: 10px;
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    width: 97%;
}
.title-pic{
    display: flex;
    z-index: -1;
    bottom: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.pic{ /* both this line and line 145 change the sizes so that the images fit the website*/
    width: 760px;
    margin: auto;
    height: 290px;
    object-fit: cover;

}
.pic > img{
    height:290px;
    width: 860px;
    object-fit:cover;     
}
.about_us_full{
    margin-top: 10px;
    background-color: #ffe6ac;
}
.about-us-title, .about-us-text, .about-us-text2 {  /* changes text size, adds color and padding  */
    background-color: #ffe6ac;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    position: unset;
    padding-bottom: 15px;
    padding-left: 10px;
  }
.about-us-title {
    font-size: 40px;
    padding-top: 10px;
    font-weight: 700;
}
.our-services {   /* this line changes the size of the our services section and makes it bold */
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 700;
}
.digital-text, .marketing-text, .video-text, .web-text, .print-text, .john-text, .bob-text, .vision-text { /* this section allows me to edit all of the small text areas at the same time  */
    padding-left: 10px;
    padding-bottom: 20px;
}
.john-title, .bob-title {
    padding-left: 10px;
}
.digital-box, .marketing-box, .video-box, .web-box, .print-box { /* this section is for editing all of the sections of services  */
    background-color: #ffe6ac ;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.block { /* this is for editing all the blocks on the website that could be turned into buttons if there were other pages to link to */
    background-color: black ;
    color: white ;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    width: 150px;
    text-align: center;
}
.digital, .marketing, .video, .web, .print, .john-full-name, .bob-full-name { /* edits thew size, padding and boldness of various larger text sections of the website */
    font-size: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
}
.our-vision {
    padding-top: 30px;
    font-size: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 700;
}
.vision-box {
    background-image:  url("../images/vision.jpg"); /* Adds a background to the vision section which is a photo rather than a solid color  */
    color: white;
    background-size: 760px;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.our-team {
    font-size: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 700;
}
.john-full-section, .bob-full-section { /* adds a background and changes the fonts to the sections talking about the company members */
    background-color: #ffe6ac ;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.message-us-full, .contact-us { 
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}
.contact-us { /* changes the size of text boldness and adds padding to the contact us section */
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;
}
.hours-title, .message-us {
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}
.enter-name-text, .enter-email-text, .enter-message-text {
    padding-top: 8px
}
.enter-name-bar, .enter-email-bar , .enter-message-bar { /* edits the padding around the text bar */
    padding-bottom: 5px;
    padding-top: 5px;
}
.hours-full {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
}
table, th, td { /* adds a border to my entire table */
    border: 1px solid;
}
th { /* adds a background color to the top the table*/
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 10px;
  }
td { /* changes the size and adds padding to the 2nd and 3rd parts of the graph */
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
  }
table { /* changes the width and height of the table */
    width: 90%;
    height: 100px;
}
.location-full { /* crops the embedded map and edits the text */
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, bold;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 700;
}
.copyright { /* changes color and size of the copyright at the bottom of the website */
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #C78C06 ;
    background-color: #222 ;
    padding-left: 10px;
}
@media only screen and (min-width: 760px) { /* this line changes the formatting of the websites for devices over 760px in size */
    .pic{
        width: 460px;
        margin: auto;
        height: 290px;
        object-fit: cover;
    }
    .pic > img{
        height:290px;
        width: 460px;
        object-fit:cover;     
    }
    .title_background{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    nav {
        flex-direction: row;
    }     
    #center{
        flex-direction: row;
        padding: 2%;
        margin: 0% 0% 0% 5%;
    }
    .banner-text{
        background-color: #000000b0;
        padding: 20px;
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .about_us_full {
        display: grid;  /* this line transforms the about us section into a grid so that the image and text can be side by side*/
        grid-template-columns:auto auto auto auto ;
        padding: 10px;
        grid-template-rows: auto auto auto auto ;
        gap: 10px;
        position: unset;
    }
    .grid1 {
        display: grid; /* this line makes all the websites services into a grid so that theyre not layed out on top of each other */
        grid-template-columns:auto auto auto  ;
        padding: 10px;
        grid-template-rows: auto auto auto  ;
        gap: 10px;
    }
    .grid1 div:nth-child(1) { /* this line allows me to edit one specific part of the grid */
        grid-row: 1 / span 1;
    }
    
    .digital-box, .marketing-box, .video-box, .web-box, .print-box { /* adjust the sizes of the different services */
        padding: 20px;
        font-size: 30px; 
        position: unset;
      }
    
    .vision-box { /* changes the size of the vision box*/
        background-size: 1800px;
        background-repeat: repeat-x;
        padding-bottom: 30px;
        background-position: center;
    }
    .our-vision {
        padding-top: 30px;
        font-size: 30px;
        padding-bottom: 15px;
        padding-left: 70px;
        font-weight: 700;
    }
    .vision-text{
        padding-left: 70px; 
    }
    .block { 
       margin-left: 70px;
    }
    .message-us-full { /* sizes down the message us section */
        max-width: 50%;
    }
    table { /* changes the size of the table so that its adjusted to the desktop */
        width: 100%;
        height: 120px;
    }
}