/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset code*/
body {
    background-color: white;
    left: 0;
    width: 100%;
    margin: auto;
}
.link_home{
    background-color: #C78C06;
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 1em;
}
#center{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_background {
    background-color: #222;
    padding: 10px;
}
.logoBack {
    background-color: #C78C06 ;
}
.a:link, a:visited{
    text-decoration: none;
} 

.links {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #C78C06 ;
}
div.links > a{
    display: block;
    text-decoration: none;
    color: #C78C06 ;
    padding: 5px;
    font-size: 1em;
}
.main{
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-content: center;
}
.banner{
    width: 100%;
    margin: auto;
    position: relative;
    overflow-y: hidden;
    height: -webkit-fill-available;
}
.banner-text{
    background-color: black;
    opacity: 50%;
    padding: 10px;
    position: absolute;
    margin-top: 20%;
}
.title-pic{
    display: flex;
    z-index: -1;
    bottom: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.pic{
    width: 360px;
    margin: auto;
    height: 290px;
}
.pic > img{
    height:270px;
    width: 360px;
    object-fit:cover; 
}
.about-us-title, .about-us-text, .about-us-text2 {
    background-color: #ffe6ac;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    position: unset;
    padding-bottom: 15px;
    padding-left: 10px;
  }
.about-us-title {
    font-size: 40px;
}
.our-services {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.digital-box, .marketing-box, .video-box, .web-box, .print-box {
    background-color: #ffe6ac ;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
}
.digital, .marketing, .video, .web, .print, .john-full-name {
    font-size: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.vision-box {
    background-image:  url("../images/vision.jpg"); 
    color: white;
}
.our-team {
    font-size: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    padding-bottom: 15px;
}
.john-full-section, .bob-full-section {
    background-color: #ffe6ac ;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.message-us-full, .contact-us {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}
.contact-us {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.enter-name-text, .enter-email-text, .enter-message-text {
    padding-top: 8px
}
.enter-name-bar, .enter-email-bar , .enter-message-bar {
    padding-bottom: 5px;
    padding-top: 5px;

}
.hours-full {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
}
.location-full {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, bold;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 20px;
}
.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #C78C06 ;
    background-color: #222 ;
}
@media only screen and (min-width: 760px) {
    body {
      background-color: aqua;
    }
}